body {

    background-color: black;

}
.title {
    color: red;
    text-align: center;
    font-weight: bald;
    background-color: rgb(0, 255, 255, 75%);
    font-size: 100px;
    text-shadow: 5px 5px rgb(108, 54, 161, 50%);
}

